.landing-page{
background-image: url('../img/backgrounds/h_img.jpg');
height: 85vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
text-align: center;
color: white;
white-space: nowrap;
line-height: 2cms;
align-content: center;
} 

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%)
  
}

.about_us {
  padding: 50px 50px 50px;
  text-align: center;
  

}
.about_us p {
  font-size: 25pt;
  text-align: center;
  white-space: nowrap;
}

.services {
  text-align: center;
  padding: 20px;
  position: relative;
}
.services_text  {
  text-align: center;
  padding: 20px;
}


#Contact_us{
  background-image: url('../img/backgrounds/c_image.jpg');
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

}

.social_icons {
  padding: 45px 0 20px;
  text-align: center;
}

.footer-copyright {
  padding: 20px 0;
}

.contact_us  {
  background-image: url('../img/backgrounds/c_image.jpg'); 
  text-align: center;
  color: white;
  padding: 45px 0;
  background-repeat: no-repeat;


}
.form_area input {
  margin-bottom: 20px;
  width: 18%;
  background-color: transparent;
  height: 50px;
  color: white;
}

.form_area textarea {
  width: 36%;
  background-color: transparent;
  height: 350px;
}

.portfolio  {
  padding: 40px;
  text-align: center;
}
.row  {
  padding: 20px;
  text-align: center;
}
.products {
  text-align: center;
}
.design_text  {
  display: none;
  text-align: center;
}
.development_text  {
  display: none;
  text-align: center;
}
.prd_mgt_text  {
  display: none;
  text-align: center;
}









