*{
  padding: 0;
  margin: 0;
}
.landing-page img{
  width: 100%;
}
.landing-page{
  position: relative;
}
.description{
  position: absolute;
  top: 40%;
  left: 30%;
  text-align: center;
}
.description h1{
  color: white;
  font-size: 100px;
  line-height: 5cm;
}
.description p{
  color: white;
  font-size: 28px;
}
